In [124]:
import pandas as pd

In [125]:
stat_capacity_df = pd.read_csv("https://raw.githubusercontent.com/Amould1/Project_2/master/stat_capacity.csv")
stat_capacity_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,52.222222,51.111111,50.000000,53.333333,54.444444,51.111100,51.111100,51.111100,50.000000,NaN
2,Angola,AGO,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,45.555556,47.777778,50.000000,47.777778,48.888889,47.777767,42.222167,45.555500,52.222233,NaN
3,Albania,ALB,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,70.000000,70.000000,73.333333,68.888889,75.555556,72.222233,82.222233,88.888900,88.888900,NaN
4,Andorra,AND,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.000000,33.333333,40.000000,43.333333,43.333333,40.000000,NaN
260,"Yemen, Rep.",YEM,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,48.888889,47.777778,46.666667,52.222222,55.555556,55.555600,47.777833,44.444467,37.777833,NaN
261,South Africa,ZAF,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,82.222222,81.111111,72.222222,76.666667,74.444444,81.111100,82.222233,75.555567,82.222233,NaN
262,Zambia,ZMB,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,57.777778,60.000000,62.222222,56.666667,60.000000,60.000033,53.333367,52.222233,62.222233,NaN
263,Zimbabwe,ZWE,Statistical Capacity score (Overall average),IQ.SCI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,51.111111,54.444444,53.333333,54.444444,57.777778,62.222200,55.555533,59.999967,66.666633,NaN

In [126]:
stat_capacity_df_clean = stat_capacity_df.drop(["Indicator Code", "Indicator Name", "1960",
                                                "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968",
                                               "1969",  "1970","1971", "1972", "1973", "1974", "1975", "1976", "1977",
                                                "1978", "1979", "1980", "1981", "1982", "1983", "1984", "1985", "1986",
                                                "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", 
                                                "1996", "1997", "1998","1999", "2000", "2001", "2002", "2003", "2003",
                                                "2004", "2005", "2006", "2007", "2008", "2009", "2019"], axis=1)
stat_capacity_df_clean

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,52.222222,51.111111,50.000000,53.333333,54.444444,51.111100,51.111100,51.111100,50.000000
2,Angola,AGO,45.555556,47.777778,50.000000,47.777778,48.888889,47.777767,42.222167,45.555500,52.222233
3,Albania,ALB,70.000000,70.000000,73.333333,68.888889,75.555556,72.222233,82.222233,88.888900,88.888900
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,NaN,NaN,NaN,30.000000,33.333333,40.000000,43.333333,43.333333,40.000000
260,"Yemen, Rep.",YEM,48.888889,47.777778,46.666667,52.222222,55.555556,55.555600,47.777833,44.444467,37.777833
261,South Africa,ZAF,82.222222,81.111111,72.222222,76.666667,74.444444,81.111100,82.222233,75.555567,82.222233
262,Zambia,ZMB,57.777778,60.000000,62.222222,56.666667,60.000000,60.000033,53.333367,52.222233,62.222233
263,Zimbabwe,ZWE,51.111111,54.444444,53.333333,54.444444,57.777778,62.222200,55.555533,59.999967,66.666633

In [127]:
final_stat_capacity_df = stat_capacity_df_clean.rename(columns={'2010': '2010 : Stat Capacity Score',
                                                                '2011': '2011 : Stat Capacity Score',
                                                                '2012': '2012 : Stat Capacity Score',
                                                                '2013': '2013 : Stat Capacity Score',
                                                                '2014': '2014 : Stat Capacity Score',
                                                                '2015': '2015 : Stat Capacity Score',
                                                                '2016': '2016 : Stat Capacity Score',
                                                                '2017': '2017 : Stat Capacity Score',
                                                                '2018': '2018 : Stat Capacity Score',})
final_stat_capacity_df

,Country Name,Country Code,2010 : Stat Capacity Score,2011 : Stat Capacity Score,2012 : Stat Capacity Score,2013 : Stat Capacity Score,2014 : Stat Capacity Score,2015 : Stat Capacity Score,2016 : Stat Capacity Score,2017 : Stat Capacity Score,2018 : Stat Capacity Score
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,52.222222,51.111111,50.000000,53.333333,54.444444,51.111100,51.111100,51.111100,50.000000
2,Angola,AGO,45.555556,47.777778,50.000000,47.777778,48.888889,47.777767,42.222167,45.555500,52.222233
3,Albania,ALB,70.000000,70.000000,73.333333,68.888889,75.555556,72.222233,82.222233,88.888900,88.888900
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,NaN,NaN,NaN,30.000000,33.333333,40.000000,43.333333,43.333333,40.000000
260,"Yemen, Rep.",YEM,48.888889,47.777778,46.666667,52.222222,55.555556,55.555600,47.777833,44.444467,37.777833
261,South Africa,ZAF,82.222222,81.111111,72.222222,76.666667,74.444444,81.111100,82.222233,75.555567,82.222233
262,Zambia,ZMB,57.777778,60.000000,62.222222,56.666667,60.000000,60.000033,53.333367,52.222233,62.222233
263,Zimbabwe,ZWE,51.111111,54.444444,53.333333,54.444444,57.777778,62.222200,55.555533,59.999967,66.666633

In [128]:
preparedness = pd.read_csv("https://raw.githubusercontent.com/Amould1/Project_2/master/Preparedness_data.csv")

In [129]:
preparedness.head()

       Country  2017  2016  2015 2014 2013 2012 2011 2010
0  Afghanistan  55.0  28.0  18.0   26   10    0    0   41
1      Albania   8.0   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2      Algeria  80.0  63.0  80.0   80   61   10    0   46
3      Andorra   8.0   8.0   8.0    8    8   40   10   12
4       Angola  90.0   NaN   NaN    0   25  NaN   20  NaN

In [130]:
codes = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")
codes.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [131]:
codes_limited = codes[["alpha-3", "name"]]
codes_limited.columns = ["Country Code", "Country"]
codes_limited.head()

  Country Code         Country
0          AFG     Afghanistan
1          ALA   Åland Islands
2          ALB         Albania
3          DZA         Algeria
4          ASM  American Samoa

In [132]:
preparedness_codes = preparedness.merge(codes_limited, how = "inner",  on = "Country")
new_preparedness_codes = preparedness_codes.rename(columns={'2010': '2010 : Preparedness Score',
                                                                '2011': '2011 : Preparedness Score',
                                                                '2012': '2012 : Preparedness Score',
                                                                '2013': '2013 : Preparedness Score',
                                                                '2014': '2014 : Preparedness Score',
                                                                '2015': '2015 : Preparedness Score',
                                                                '2016': '2016 : Preparedness Score',
                                                                '2017': '2017 : Preparedness Score',})

In [134]:
combined_df = new_preparedness_codes.merge(final_stat_capacity_df, how = "inner",  on = "Country Code")
new_combined = combined_df.drop(["2018 : Stat Capacity Score", "Country"], axis=1)
new_combined

,2017 : Preparedness Score,2016 : Preparedness Score,2015 : Preparedness Score,2014 : Preparedness Score,2013 : Preparedness Score,2012 : Preparedness Score,2011 : Preparedness Score,2010 : Preparedness Score,Country Code,Country Name,2010 : Stat Capacity Score,2011 : Stat Capacity Score,2012 : Stat Capacity Score,2013 : Stat Capacity Score,2014 : Stat Capacity Score,2015 : Stat Capacity Score,2016 : Stat Capacity Score,2017 : Stat Capacity Score
0,55.0,28.0,18.0,26,10,0,0,41,AFG,Afghanistan,52.222222,51.111111,50.000000,53.333333,54.444444,51.111100,51.111100,51.111100
1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB,Albania,70.000000,70.000000,73.333333,68.888889,75.555556,72.222233,82.222233,88.888900
2,80.0,63.0,80.0,80,61,10,0,46,DZA,Algeria,58.888889,62.222222,58.888889,51.111111,52.222222,53.333367,55.555567,61.111100
3,8.0,8.0,8.0,8,8,40,10,12,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90.0,NaN,NaN,0,25,NaN,20,NaN,AGO,Angola,45.555556,47.777778,50.000000,47.777778,48.888889,47.777767,42.222167,45.555500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,100.0,100.0,100.0,100,80,80,10,NaN,VEN,"Venezuela, RB",83.333333,78.888889,77.777778,80.000000,81.111111,82.222233,82.222233,68.888900
182,92.0,100.0,100.0,100,90,70,100,35,VNM,Vietnam,64.444444,71.111111,71.111111,74.444444,76.666667,82.222233,82.222233,83.333333
183,10.0,NaN,NaN,18,18,40,NaN,NaN,YEM,"Yemen, Rep.",48.888889,47.777778,46.666667,52.222222,55.555556,55.555600,47.777833,44.444467
184,73.0,NaN,NaN,100,100,100,67,NaN,ZMB,Zambia,57.777778,60.000000,62.222222,56.666667,60.000000,60.000033,53.333367,52.222233
185,53.0,80.0,NaN,63,NaN,NaN,55,NaN,ZWE,Zimbabwe,51.111111,54.444444,53.333333,54.444444,57.777778,62.222200,55.555533,59.999967

In [136]:
new_combined_df = new_combined[["Country Name", "Country Code",
                                "2010 : Preparedness Score", "2010 : Stat Capacity Score",
                                "2011 : Preparedness Score", "2011 : Stat Capacity Score",
                                "2012 : Preparedness Score", "2012 : Stat Capacity Score",
                                "2013 : Preparedness Score", "2013 : Stat Capacity Score",
                                "2014 : Preparedness Score", "2014 : Stat Capacity Score",
                                "2015 : Preparedness Score", "2015 : Stat Capacity Score",
                                "2016 : Preparedness Score", "2016 : Stat Capacity Score",
                                "2017 : Preparedness Score", "2017 : Stat Capacity Score",]]
new_combined_df

,Country Name,Country Code,2010 : Preparedness Score,2010 : Stat Capacity Score,2011 : Preparedness Score,2011 : Stat Capacity Score,2012 : Preparedness Score,2012 : Stat Capacity Score,2013 : Preparedness Score,2013 : Stat Capacity Score,2014 : Preparedness Score,2014 : Stat Capacity Score,2015 : Preparedness Score,2015 : Stat Capacity Score,2016 : Preparedness Score,2016 : Stat Capacity Score,2017 : Preparedness Score,2017 : Stat Capacity Score
0,Afghanistan,AFG,41,52.222222,0,51.111111,0,50.000000,10,53.333333,26,54.444444,18.0,51.111100,28.0,51.111100,55.0,51.111100
1,Albania,ALB,NaN,70.000000,NaN,70.000000,NaN,73.333333,NaN,68.888889,NaN,75.555556,NaN,72.222233,NaN,82.222233,8.0,88.888900
2,Algeria,DZA,46,58.888889,0,62.222222,10,58.888889,61,51.111111,80,52.222222,80.0,53.333367,63.0,55.555567,80.0,61.111100
3,Andorra,AND,12,NaN,10,NaN,40,NaN,8,NaN,8,NaN,8.0,NaN,8.0,NaN,8.0,NaN
4,Angola,AGO,NaN,45.555556,20,47.777778,NaN,50.000000,25,47.777778,0,48.888889,NaN,47.777767,NaN,42.222167,90.0,45.555500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,"Venezuela, RB",VEN,NaN,83.333333,10,78.888889,80,77.777778,80,80.000000,100,81.111111,100.0,82.222233,100.0,82.222233,100.0,68.888900
182,Vietnam,VNM,35,64.444444,100,71.111111,70,71.111111,90,74.444444,100,76.666667,100.0,82.222233,100.0,82.222233,92.0,83.333333
183,"Yemen, Rep.",YEM,NaN,48.888889,NaN,47.777778,40,46.666667,18,52.222222,18,55.555556,NaN,55.555600,NaN,47.777833,10.0,44.444467
184,Zambia,ZMB,NaN,57.777778,67,60.000000,100,62.222222,100,56.666667,100,60.000000,NaN,60.000033,NaN,53.333367,73.0,52.222233
185,Zimbabwe,ZWE,NaN,51.111111,55,54.444444,NaN,53.333333,NaN,54.444444,63,57.777778,NaN,62.222200,80.0,55.555533,53.0,59.999967